/*Stylesheet by Francesco Leoni 2015 */


/* general settings -----------------------*/
@font-face {
  font-family: 'Akkur';
  src: url('../fonts/Akkur');
  font-style:   normal;
  font-stretch: normal;
}


html {
    margin: 0 auto;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
}

body { 
    margin: 0 auto;
    padding:0; 
    height:100%;
    width:100%;
    background-color: #cccccc;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    overflow-x: hidden;

}

h1, h2, h3, {
    letter-spacing: 0.02em;
    line-height: 1.2em;
    color: #ffffff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    margin-bottom: 1em;
}

/* navbar bootsrap override -----------------------*/

.navbar,
.navbar-default{
    position:relative;
    margin: 0;
    height: 150px;
    clear: both;
}

.navbar .navbar-brand {
 padding-left: 30px;
}

.navbar .navbar-brand:hover {
  opacity:0.6;
}

.navbar .navbar-nav li a {
  vertical-align: bottom;
}

.navbar .navbar-nav li a:hover {
  text-decoration: underline;
  background-color: #f9f9f9;
}

.row-mappa{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding:0;
    background-color: transparent;

}

.row-list{
    position:relative;
    clear:both;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    padding:0;
    background-color: transparent;

}

.col-md-2,
.col-md-4,
.col-md-6,
.col-md-8{
    margin: 0;
    padding: 0;
    max-height:700px;
}

/* main content row */


#map{ 
    margin:0 auto;
    padding:0; 
    width:100%;
    height: 800px;
    border-right: 1px solid #4c4c4c;
    background-color: transparent;
} 

.descrizione-attore{
    background-color:#B3B3B3;
    float: left;
    position: relative;
    font-size: 1em !important;
    margin: 0px;
    padding:1em;
    height:100%;
    width: 100%;
    height: auto;
}

.descrizione-attore div{
    display:block;
    float:left;
    clear:both;
    width:100%;
    padding:0.2em;
    border-top: 0.5px solid darkgrey;
    border-bottom: 0.5px solid darkgrey;
}

.nero{
    color:black;
}

.highlight{
    color:#FF8000;
}

.highlight:hover{
    color:black;
}

.intro{
    margin-top: 30px;
    font-size: 1.8em;
    line-height: 1.8em;
    padding-left: 20px;
    color:#4C4C4C;
    padding-bottom:5em;

}

.schema{
    margin-top: 30px;    
    padding-left: 30px;
    width:80%;
    height:auto;

}

.row-tools{
    padding-left: 50px;
    padding-bottom: 45px;
    border-bottom: 0.5px solid darkgrey;
}

#cover{
    width: 100%;
    height:auto;
    max-width:500px;
    max-height:300px;
    overflow:hidden;
    background:darkgrey;
}


/* scrollabar style */

.stakeholder::-webkit-scrollbar{
    width:10px;
    background-color:#999999;
} 

.stakeholder::-webkit-scrollbar-thumb{
    height:50px;
    width: 7px;
    background-color:#4c4c4c;
    border-radius:10px;
}
.stakeholder::-webkit-scrollbar-thumb:hover{
    background-color:#4c4c4c;
    border:1px solid #333333;
}
.stakeholder::-webkit-scrollbar-thumb:active{
    background-color:##4c4c4c;
    border:1px solid #333333;
} 

.stakeholder::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

/* layout inside stkholder description div */

.stakeholder{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
    overflow-y: scroll;
}

.stakeholder div:last-child {
    padding-bottom: 10em;
}

.stakeholder img{
    height: auto;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.8em;
    margin: 0em;
    border-top: 1px dotted #4c4c4c;
}

.copertina {
    padding-bottom: 3em;
    font-size: 0.8em;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.copertina h2,
.stakeholder h2,
.copertina h4{
    font-family: "Montserrat";
    font-weight: 700;
    display: block;
    padding-bottom: 2em;
}

.copertina p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.copertina a {
    text-decoration: none;
    color: #333333;
}

.copertina a:hover {
    text-decoration: underline;
    color: black;
}

.caption{
    color: black;
    font-size: 0.8em;
    line-height: 1.2em;
    padding-bottom: 2em;
    margin: 0;
}

.caption h6{
    font-weight: bold;
    font-style: underline;
} */

/* style contenthover */

.contenthover { padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3, .contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.link { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.contenthover a.link:hover { background:#34742d }


/* style list */
#list-box{
    position: relative;
    float:left;
    width: 100%;
    height:800px;
    overflow-y: scroll;
}

#list{
    background-color: #ffffff;
    margin: 0px;
    padding:2em;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    float: left;
}

#list .item {
    display:inline-block;
    border-bottom:1px solid #eee;
    padding:10px;
    width:150px;
    text-decoration:none;
    color: #333333;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    float: left;
    clear:right;
}

#list .item small { color:#888; }

#list .item:hover,
#list .item.active { 
    background:#666666; 
    color: #ffffff; 
}

#list .item:last-child { border-bottom:none; }

/* style filter menu */

.menu-ui {
    background:#fff;
    position:absolute;
    top:10px;right:10px;
    z-index:1;
    border-radius:3px;
    width:120px;
    border:1px solid rgba(0,0,0,0.4);
}

.menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
}

.menu-ui a:first-child {
    border-radius:3px 3px 0 0;
}

.menu-ui a:last-child {
    border:none;
    border-radius:0 0 3px 3px;
}

.menu-ui a:hover {
    background:#f8f8f8;
    color:#404040;
}

.menu-ui a.active,
.menu-ui a.active:hover {
    background:#3887BE;
    color:#FFF;
}

#footer {
    position: absolute;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 4%;
    background-color: #191919;
    line-height:1.8em;
}

.container {
    width: auto;
    padding: 0 15px;
}
.container .text-muted {
    font-size: 0.8em;
    padding-left: 2em;
    margin: 0;
    color:#ffffff;
    float: left;
}

